.panorama {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding-bottom: 21px;
}

.photo__link-full {
  position: relative;
  width: 100%;

  &::before {
    position: absolute;
    top: 0;
    right: 20px;
    content: "Панорама дня";
    width: 140px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d22856;
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
  }
}

.photo__image--panorama {
  width: 100%;
  display: block;
}

.panorama__comment {
  width: 280px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #f2f2f2;
  padding: 20px 10px 20px 17px;
  display: flex;
  flex-direction: column;
}

.comment__publication-info {
  display: flex;
}

.comment__author {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-right: 3px;
}

.comment__time {
  margin: 0;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  opacity: 0.6;
  text-transform: uppercase;
}

.comment__content {
  width: 260px;
  margin: 0;
  margin-bottom: 9px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.comment__likes {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.likes__heart {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 13px;
  height: 12px;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  cursor: pointer;
  margin-right: 18px;
}

.likes__count {
  color: #d22856;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .panorama__comment {
    width: 620px;
    min-height: 120px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 24px 28px 16px 28px;
  }

  .comment__content--panorama {
    width: 533px;
    order: 2;
  }

  .comment__publication-info {
    margin-right: auto;
  }

  .comment__likes--panorama {
    order: 1;
  }

  .likes-heart--panorama {
    order: 2;
    margin-left: 18px;
    margin-right: 0;
  }

  .photo__link-full {
    height: 77.12vw;

    &::before {
      top: 57px;
    }
  }

  .photo__image--panorama {
    width: 100vw;
    height: 100%;
  }
}

@media (min-width: $desktop-width) {
  .panorama__comment {
    width: 940px;
    min-height: 97px;
    padding: 24px 29px 16px;
  }

  .comment__content--panorama {
    width: 875px;
  }

  .photo__link-full {
    height: auto;

    &::before {
      top: 54px;
      right: 130px;
    }
  }

  .photo__image--panorama {
    width: 100%;
    height: auto;
  }
}


